.root{
	-fx-background-color:#fffffd;
}
.hbox#header{
	-fx-background-color:#211919;
	-fx-pref-height:50;
}
.vbox#profile-info{
	-fx-background-color:#AEA2A2;
	
}
.hbox#menu{
	-fx-background-color:#211919;
}
.button{
	-fx-text-fill:green;
	-fx-background-color:grey;
}
.button:hover{
	-fx-text-fill:black;
	-fx-background-color:black;
}
.button {
    -fx-pref-width: 80.0px;
    -fx-pref-height: 5.0px;
}

#exitbtn:hover{
	-fx-text-fill:black;
	-fx-background-color:red;
	-fx-effect: innershadow(gaussian,black,8.0,0.0,0.0,0.0);
}

















































