.root{
	-fx-background-color:#fffffd;
}
.hbox#header{
	-fx-background-color:blue;
	-fx-pref-height:50;
}
.vbox#profile-info{
	-fx-background-color:#AEA2A2;
	
}
.hbox#hbProjectArea{
	-fx-background-color:black;
}
.hbox#menu{
	-fx-background-color:green;
	-fx-pref-height:50;
}
.vbox#vbLeft{
	-fx-background-color:purple;
}
.vbox#vbRight{ 
	-fx-background-color:yellow;
}
.button{
	-fx-text-fill:green;
	-fx-background-color:grey;
}
.button:hover{
	-fx-text-fill:black;
	-fx-background-color:black;
}
.button {
}

#exitbtn:hover{
	-fx-text-fill:black;
	-fx-background-color:red;
	-fx-effect: innershadow(gaussian,black,8.0,0.0,0.0,0.0);
}

















































