.root{
	-fx-background-color:#2E8B57;

}
.label{
	-fx-text-fill:white;	
}


.hbox {
    -fx-background-color: white;
    -fx-padding: 5.0;
    -fx-spacing: 5.0;
}
.hbox#hbDown{
-fx-background-color: #2E8B57;
	
}
.vbox {
    -fx-background-color: #2E8B57;
    -fx-padding: 5.0;
    -fx-spacing: 5.0;
    -fx-border-color: #2E8B57;
}

.vbox#columnCenter { 
	
 -fx-background-color: grey;
-fx-border-color: #2E8B57;
}

.vbox#columnLeft { 
	
-fx-background-color: grey;	
-fx-border-color: #2E8B57;
}

.vbox#columnRight {
	-fx-background-color: grey;
	-fx-border-color: #2e8b57;
	-fx-label-fill: white;
	
}
.button{
	-fx-text-fill:green;
	-fx-background-color:white;
	-fx-padding:10.0;
	-fx-background-radius: 15.0 15.0 15.0 15.0;
}
.button:hover{
	-fx-text-fill:black;
	-fx-background-color:#33d77a;
}
.button {
    -fx-pref-width: 200.0px;
    -fx-pref-height: 50.0px;
}

#exitbtn:hover{
	-fx-text-fill:black;
	-fx-background-color:red;
	-fx-effect: innershadow(gaussian,black,8.0,0.0,0.0,0.0);
}

















































