/*
 * define icon
 */
.EMAIL-ICON{
	-fx-graphic: url("/resources/images/icons/envelope.png");
	-fx-graphic-text-gap:10;
}
.EMAIL-ICON:hover{
    -fx-font-weight: bold;
}
.FRIEND_ICON{
	/*-fx-graphic: url("");  */  
	-fx-graphic-text-gap:10;
}
.MESSAGE_ICON{
/*-fx-graphic: url("");  */  
	-fx-graphic-text-gap:10;
}
.PROJECT_INVITE_ICON{
 /*-fx-graphic: url("");  */  
	-fx-graphic-text-gap:10;
}
.PROJECT_INVITE_ICON{
 /*-fx-graphic: url("");  */  
	-fx-graphic-text-gap:10;
}
.TITLE{ 
	 -fx-graphic-text-gap:10;
}
/*
 * define background color
 */
.GREY{
-fx-text-fill: #7C97A1;
    -fx-font-size: 11pt;

}
.DARK_GREY{
-fx-text-fill: #62676A;
}
.WHITE{
 -fx-background-color:transparent;
 -fx-text-fill: #F0F0F0;
}
.BLACK{
-fx-text-fill: #010101;
}
.GREEN{
-fx-text-fill: #30E13C;
}
.DARK_GREEN{
-fx-text-fill:#138D1B;
}
/*
 * effects from label
 */
.GREY_HOVER:hover{
-fx-text-fill: #7C97A1;
}
.DARK_GREY_HOVER:hover{
-fx-text-fill:#62676A;
}
.WHITE_HOVER:hover{
-fx-text-fill: #F0F0F0;
}
.BLACK_HOVER:hover{
-fx-text-fill: #010101;
}
.GREEN_HOVER:hover{
-fx-text-fill: #30E13C;
}
.DARK_GREEN_HOVER:hover{
-fx-text-fill:#138D1B;
}
<<<<<<< HEAD



































=======
>>>>>>> ramoJefter
