.button{
	-fx-text-fill:white;
	-fx-background-color:#000;
	-fx-padding:10;
	-fx-margin:20;
	-fx-background-radius: 15 15 15 15;
	-fx-font: bold, italic, "Arial";
}

#exitbtn hover{
	-fx-background-color:red;
	-fx-text-fill:white;
}

.button:hover{
	-fx-text-fill:black;
	-fx-background-color:#33d77a;
}

.label{
	-fx-text-fill:white;	
}

.text-input{
	-fx-background-color:#B0E0E6;
	-fx-text-fill:white;
	-fx-background-radius: 15 15 15 15;
}

.text-input focused{
	-fx-background-color:#85e085;
	-fx-text-fill:black;
}

.hyperlink{
	-fx-text-fill:white;
}

.root{
	-fx-background-color:#2E8B57;
}