.toggle-button {
    -fx-text-fill: white;
    -fx-base: #2E8B57;
    -fx-border-width: 15.0;
    -fx-width: 200.0;
    -fx-background: transparent;
    -fx-focus-color: #00cc66;
    -fx-border-color: transparent;
    -fx-border-radius: 5.0 0.0 0.0 5.0;
    -fx-effect: null;
}
/*
 * pra entender o que to fazendo
 */
.hbox {
    -fx-background-color: #2f4f4f;
    -fx-padding: 5.0;
    -fx-spacing: 5.0;
}
.hbox#hboxRightSide{
	 -fx-background-color: white;
 	 -fx-padding: 18.0 3.0 18.0 6.0;
     -fx-spacing: 5.0;
     -fx-background-radius: 5.0; 
}
.box#hboxLeftSide{
	 -fx-background-color: white;
 	 -fx-padding: 18.0 3.0 18.0 6.0;
     -fx-spacing: 5.0;
     -fx-background-radius: 5.0; 
}


.vbox {
    -fx-background-color: #2f4f4f;
    -fx-padding: 5.0;
    -fx-spacing: 5.0;
}
.vbox#teamMembers{
	-fx-background-color: blue;
    -fx-padding: 5.0;
}
.vbox#projectNameDescription{
 	   -fx-background: transparent;
    -fx-focus-color: #00cc66;
    -fx-border-color: transparent;
    -fx-effect: null;
    -fx-border-width: 20.0;
	
}
.button{
	-fx-text-fill:white;
	-fx-background-color:#000;
	-fx-padding:10.0;
	-fx-background-radius: 15.0 15.0 15.0 15.0;
}
.button:hover{
	-fx-text-fill:black;
	-fx-background-color:#33d77a;
}
.button {
    -fx-pref-width: 100.0px;
    -fx-pref-height: 50.0px;
}

.label{
	-fx-text-fill:white;	
}
.text-area .content{
	-fx-background-color:#00cc66;
	-fx-text-fill:white;
}
.text-area:focused{
	-fx-background-color:#85e085;
	-fx-text-fill:black;
}
.text-input{
	-fx-background-color:#00cc66;
	-fx-text-fill:white;
	-fx-background-radius: 15.0 15.0 15.0 15.0;
}

.text-input:focused{
	-fx-background-color:#85e085;
	-fx-text-fill:black;
}

.hyperlink{
	-fx-text-fill:white;
}

.root{
	-fx-background-color:#2E8B57;
}

/* área de testes */

/*
#hbox:hover{
	-fx-background-color:#000;
	-fx-border-color:blue;
}
*/

/* IDs só aqui pra baixo please */

#exitbtn:hover{
	-fx-text-fill:black;
	-fx-background-color:red;
	-fx-effect: innershadow(gaussian,black,8.0,0.0,0.0,0.0);
}
/*
#vbox{
	-fx-background-color:white;
	-fx-border-color:#7997ee;
	-fx-effect: dropshadow(gaussian,black,8.0,0.0,2.0,0.0);
}
*  
*/
#lblvbox{
	-fx-text-fill:black;
}
