.button {
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
}
.button{
	-fx-text-fill:white;
	-fx-background-color:#000;
	-fx-padding:10.0;
	-fx-background-radius: 15.0 15.0 15.0 15.0;
}
.button:hover{
	-fx-text-fill:black;
	-fx-background-color:#33d77a;
}
.label{
	-fx-text-fill:white;	
}

.text-input{
	-fx-background-color:#00cc66;
	-fx-text-fill:white;
	-fx-background-radius: 15.0 15.0 15.0 15.0;
}

.text-input:focused{
	-fx-background-color:#85e085;
	-fx-text-fill:black;
}

.hyperlink{
	-fx-text-fill:white;
}

.root{
	-fx-background-color:#2E8B57;
}

/* área de testes */

/*
#hbox:hover{
	-fx-background-color:#000;
	-fx-border-color:blue;
}
*/

/* IDs só aqui pra baixo please */

#exitbtn:hover{
	-fx-text-fill:black;
	-fx-background-color:red;
	-fx-effect: innershadow(gaussian,black,8.0,0.0,0.0,0.0);
}
#vbox{
	-fx-background-color:white;
	-fx-border-color:#7997ee;
	-fx-effect: dropshadow(gaussian,black,8.0,0.0,2.0,0.0);
}
#lblvbox{
	-fx-text-fill:black;
}
