.button{
	-fx-text-fill:white;
	-fx-background-color:#000;
	-fx-padding:10;
	-fx-background-radius: 15 15 15 15;
}

.button:hover{
	-fx-text-fill:black;
	-fx-background-color:#33d77a;
}

#exitbtn:hover{
	-fx-text-fill:black;
	-fx-background-color:red;
}

.label{
	-fx-text-fill:white;	
}

.text-input{
	-fx-background-color:#00cc66;
	-fx-text-fill:white;
	-fx-background-radius: 15 15 15 15;
}

.text-input: focused{
	-fx-background-color:#85e085;
	-fx-text-fill:black;
}

.hyperlink{
	-fx-text-fill:white;
}

.root{
	-fx-background-color:#2E8B57;
}