.hbox {
    -fx-background-color: white;
    -fx-padding: 5.0;
    -fx-spacing: 5.0;
}
.root{
	-fx-background-color:#2E8B57;
}

#exitbtn:hover{
	-fx-text-fill:black;
	-fx-background-color:red;
	-fx-effect: innershadow(gaussian,black,8.0,0.0,0.0,0.0);
}

.hyperlink{
	-fx-text-fill:green;
}


.text-input:focused{
	-fx-background-color:#85e085;
	-fx-text-fill:black;
}
.text-input{
	-fx-background-color:#00cc66;
	-fx-text-fill:white;
}
.label{
	-fx-text-fill:white;	
}

.button {
    -fx-pref-width: 100.0px;
    -fx-pref-height: 50.0px;
}
.button:hover{
	-fx-text-fill:black;
	-fx-background-color:#33d77a;
}

.button{
	-fx-text-fill:green;
	-fx-background-color:white;
	-fx-padding:10.0;
	-fx-background-radius: 15.0 15.0 15.0 15.0;
}


.vbox {
    -fx-background-color: #2f4f4f;
    -fx-spacing: 15.0;
    -fx-height:300;
    
    
}

.hbox#rightSide{
	
	-fx-background-color:#2E8B57;
	
	
}

.vbox#vbLogin{
		-fx-background-color:#37a35b;
}

















