.vbox{
    -fx-background-color: #5fb69c;
    -fx-opacity: 0.50;
    -fx-padding: 10;
    -fx-spacing: 15;
    -fx-width: 260px;

}
.vbox:hover{
    -fx-background-color: #5fb69c;
     -fx-opacity: 1.0;
     
         -fx-border-width:2 2 2 2;
    -fx-border-color:yellow;
     
}

.label{
    -fx-text-fill: #ffffff;
    -fx-text-font-weight:bold;
}

