
 .dialog-pane{
  -fx-border-color:transparent;
  -fx-border-width:2.0px;
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color:#2f4f4f;
}

.dialog-pane > .content.label {
   
-fx-font-size:12pt;
	 -fx-font-weight: bold;
	-fx-text-fill: #464646;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: #2f4f4f;
}

.dialog-pane:header .header-panel .label{
	 -fx-font-weight: bold;
	-fx-text-fill: #5Fb69C;
  -fx-font-size:15.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-pref-width: 100.0px;
    -fx-pref-height: 50.0px;
    -fx-text-fill:#2A363F;
	-fx-background-color:#5Fb69C;
	-fx-padding:10.0;
	-fx-font-weight:bold;
 }

.dialog-pane .button:hover{     
  -fx-text-fill:#2A363F;
	-fx-background-color:#ffff;
 }


