.root{
	-fx-background-color:#F5F3F3;
}
.text-input{
 	-fx-font-family: "Quicksand";
   -fx-font-size: 18.0;
   -fx-padding: 1.0,1.0,1.0,1.0;
   -fx-border-color: black;
   -fx-border-width: 0.0 0.0 2.0 0.0;
   -fx-border-radius: 1.0;
   -fx-background-color: transparent;
   -fx-text-fill: black;
   -fx-font-weight:bold;
}
.hbox{
    -fx-background-color: #5fb69c;
    -fx-opacity:0.50;
    -fx-font-weight:bold;

}
.hbox:hover{
    -fx-background-color: #5fb69c;
    -fx-opacity: 1.0;
}
.label { 
	-fx-font-size:14;
     -fx-font-weight: bold; 
	-fx-font-family: "Quicksand";
	 -fx-text-fill: #343736;
}
#hbChangeQuestion{
	-fx-background-color:#44B492;
}
#hbChangeAnswer{
	-fx-background-color:#44B492;
}
.button#desativa{
	-fx-pref-height:35.0px;
	-fx-pref-width:150px;
}
.button{
  -fx-background-color:#44B492;
   -fx-pref-height: 30.0px;
    -fx-pref-width: 150px;
     -fx-text-fill: #E7E9DF;
		-fx-background-radius: 30;
	    -fx-background-insets: 0;
	     -fx-font-weight: bold;
}
.button:hover{
	-fx-background-color:#E7E9DF;
	-fx-text-fill:black;
}
.button:hover#back{
	-fx-text-fill:white;
	-fx-background-color:#cc2a2a;
}










