.root{
	-fx-background-color:#F5F3F3;
}
.hbox#header{
	-fx-background-color:#5fb69c;
	-fx-pref-height:50.0;
	-fx-border-color: #e4ebff;
	-fx-border-width: 0.0 0.0 3.0 0.0;
}
.header-buttons{ 
	-fx-pref-height:50.0;
	-fx-pref-width:100.0;
	-fx-background-color:#5fb69c;
}
.header-buttons:hover{
	-fx-background-color:#E7E9DF;
	-fx-text-fill:black;
}
.header-buttons#btnCancel:hover{
	-fx-background-color: red;
}
.text-input{
   -fx-font-family: "Segoe UI Semibold";
   -fx-font-size: 12.0;
   -fx-padding: 1.0,1.0,1.0,1.0;
   -fx-border-color: black;
   -fx-border-width: 0.0 0.0 2.0 0.0;
   -fx-border-radius: 1.0;
   -fx-background-color: transparent;
   -fx-text-fill: #E7E9DF;
   -fx-prompt-text-fill: #E7E9DF;
   -fx-font-weight:bold;
   
}
.text-input:focused{
}
.vbox#profile-info{
    -fx-border-width: 0.0 2.0 0.0 0.0 ;
    -fx-border-color: white;
    
}
.vbox#rightColumn{ 
   -fx-border-width: 0.0 4.0 0.0 0.0 ;
   -fx-border-color: white;
}
.label{
    -fx-font-size: 15.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight:bold;
    -fx-opacity: 6.0;
}
.label#lblName{ 
    -fx-font-weight: bold;
    -fx-fill-color:black;
	-fx-text-aligment:center;
}
#project {
	-fx-background-color: transparent;
	 -fx-pref-height: 150.0px;
    -fx-pref-width: 80.0px;
}
.button { 
	-fx-pref-width:160px;
	-fx-font-size:14;
	-fx-text-fill: #F5F3F3;
	-fx-font-weight:bold;
}
#exit { 
	-fx-pref-width:80px;
}	

#avarage { 
	-fx-pref-width:120px;
}
#vbNav { 
	-fx-border-width: 0 0 2 0 ;
	-fx-border-color: transparent;
}

#lOverview , #lProject { 
	-fx-background-color: transparent;	
    -fx-font-weight: bold;
    -fx-font-size:18;
    -fx-text-fill: #14251E;
}
#lOverview:hover { 
	-fx-border-width: 0 0 2 0 ;
		-fx-border-color: black;
}
#lOverview:selected{ 
	-fx-border-width: 0 0 2 0 ;
	-fx-border-color:black;
}
#lProject:hover{ 
	-fx-border-width: 0 0 2 0 ;
	-fx-border-color: black;
}
#lProject:selected { 
	-fx-border-width: 0 0 2 0 ;
	-fx-border-color: black;
	
}
#project  { 
	-fx-border-radius: 10;
	-fx-border-insets: 5 5 5 5;
	-fx-border-spacing: 10px 50px;
	-fx-background-radius: 10;
	
	-fx-border-width: 2 2 2 2 ;
	-fx-border-color: #E7E9DF;

    -fx-background-color:#5fb69c;
   
}
#project:hover { 
	-fx-border-color:#5fb69c ;
    -fx-background-color:#5FC3A0;
}
#labelProject { 
	-fx-padding: 15px;
	-fx-font-size:34;
	-fx-text-fill: #E7E9DF;
    -fx-font-weight:bold;
}
#haveNoProject { 
		
	-fx-background-color : 
	
}
 
 














