.hbox {
	-fx-border-radius: 10;
	-fx-border-insets: 5 5 5 5;
	-fxborder-spacing: 10px 50px;
	-fx-border-width: 2 2 2 2 ;
	-fx-border-color: black;
	-fx-padding: 15px;
	-fx-background-color: transparent;
	-fx-background-radius:10;
}
.hbox:hover { 
	-fx-background-color: #ddd5d5;
}
.hbox:pressed{ 
	-fx-background-color: #b09c9c;
}
#not-selected{ 
	-fx-background-color: transparent;
}
#selected  { 
	-fx-background-color: #85c7b3;
}
#lblName  { 
	-fx-font-weight: bold;
   	-fx-font-size: 18.0;
 	-fx-text-fill:  #182F26;
}
#status { 
 	-fx-font-size: 13.0;
 	-fx-text-fill:  #8c8c8c;
}
#circleAvailable{
    -fx-background-color: #64CC8A;
    -fx-fill: #64CC8A;
    -fx-cell-hover-color: #64CC8A;
    -fx-border-width: 1px;
    -fx-border-color : black;
}
#circleBusy { 
    -fx-background-color: #DD715A;
    -fx-fill: #DD715A;
    -fx-cell-hover-color: #DD715A;
     -fx-border-width: 1px;
    -fx-border-color : black;
}


