.hbox#rightSide{
	-fx-padding: 10.0;
	-fx-border-style: solid inside;
    -fx-border-width: 0.0px, 0.0px, 1.0px, 0.0px;
}
.root{
	-fx-background-color:#F5F3F3;
}
.vbox {
    -fx-background-color: #2f4f4f;
    -fx-spacing: 15.0;
    -fx-height:100.0;
}
.label { 
	   -fx-font-size: 14.0;
	 -fx-font-weight: bold;
	-fx-text-fill: #2f4f8f;
}
.title{ 
	 -fx-font-weight: bold;
	-fx-text-fill: #464646;
}
.button#btnCancel:hover{
	-fx-text-fill:white;
	-fx-background-color:#cc2a2a;
}


.vbox {
    -fx-background-color: #2f4f4f;
    -fx-spacing: 15.0;
    -fx-height:300.0;
}



.label { 
	-fx-font-size:12pt;
	 -fx-font-weight: bold;
	-fx-text-fill: #464646;
}

.label#messageWrong{
	-fx-text-fill:#cc2a2a;
	-fx-font-weight: bold;
	-fx-background-color:#0000;
}
.right{ 
	-fx-border-width: 0px 0px 0px 6px ;
	-fx-padding: 0 0  0 30;
	-fx-border-color: black;
}

#exitbtn:hover{
	-fx-text-fill:black;
	-fx-background-color:red;
	-fx-effect: innershadow(gaussian,black,8.0,0.0,0.0,0.0);
}


.button#btnSingUp{ 
	-fx-background-color:#6DD89F;
	 -fx-pref-width: 200px;
}

.button#btnSingUp:hover{
	-fx-text-fill:#2A363F;
	-fx-background-color:#ffff;
}
.hyperlink{
	   -fx-font-size: 14.0;
	-fx-text-fill:green;
}
.text-input{
 	-fx-font-family: "Quicksand";
   -fx-font-size: 18.0;
   -fx-padding: 1.0,1.0,1.0,1.0;
   -fx-border-color: black;
   -fx-border-width: 0.0 0.0 2.0 0.0;
   -fx-border-radius: 1.0;
   -fx-background-color: transparent;
   -fx-text-fill: black;
   -fx-font-weight:bold;
   
}
.text-input{
 	-fx-font-family: "Quicksand";
   -fx-font-size: 18.0;
   -fx-padding: 1.0,1.0,1.0,1.0;
   -fx-border-color: black;
   -fx-border-width: 0.0 0.0 2.0 0.0;
   -fx-border-radius: 1.0;
   -fx-background-color: transparent;
   -fx-text-fill: black;
   -fx-font-weight:bold;	
   
}
.button {
    -fx-pref-width: 100.0px;
    -fx-pref-height: 50.0px;
    -fx-text-fill:#2A363F;
	-fx-background-color:#5Fb69C;
	-fx-padding:10.0;
	-fx-font-weight:bold;
}
.button:hover{
	-fx-text-fill:#2A363F;
	-fx-background-color:#ffff;
}









