.root{
	-fx-background-color:#F5F3F3;
	 /*
	  -fx-background-color: linear-gradient(to bottom right, white 0%, cornflowerblue 100% );
	 */
}
.button{
  -fx-background-color:#44B492;
   -fx-pref-height: 30.0px;
    -fx-pref-width: 200.0px;
     -fx-text-fill: white;
		-fx-background-radius: 30;
	    -fx-background-insets: 0;
	     -fx-font-weight: bold;
}
.text-input{
 	-fx-font-family: "Quicksand";
   -fx-font-size: 18.0;
   -fx-padding: 1.0,1.0,1.0,1.0;
   -fx-border-color: black;
   -fx-border-width: 0.0 0.0 2.0 0.0;
   -fx-border-radius: 1.0;
   -fx-background-color: transparent;
   -fx-text-fill: black;
   -fx-font-weight:bold;
   
}
.text-input:focused{
}
 .text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
}


.label { 
	-fx-font-size:16pt;
	 -fx-font-weight: bold; 
	 	
	-fx-font-family: "Quicksand";
	 	-fx-text-fill: #343736;
}







