.hbox { 
	 -fx-background-color: #F5F3F3;
    -fx-font-weight:bold;
	-fx-border-width : 3.0px;
}

.label
{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
.button{
	-fx-background-color:#5fb69c;
	-fx-fill-color:white;
}
.button:hover{
	-fx-background-color:white;
}





























