#name {  
	-fx-font-size : 22;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

#about { 
	-fx-font-size : 14;
}
#type {
	-fx-font-size : 16;
}
#v { 
	-fx-border-width: 0 0 2 0 ;
	-fx-border-color: black;
}