#title{
	-fx-font-size: 12;
}
#pontuation{
-fx-font-size: 8 ;	
}
#task{
	-fx-font-size: 11;
}
#content {
	-fx-border-width: 2 0 2 0;
	-fx-border-color: #5fb69c;	
}
#content:hover { 
	-fx-border-color: #F5F5F5;
	-fx-background-color:#5fb69c;
	-fx-text-fill: #F5F5F5;
}







