
.toggle-button {
     -fx-border-color: transparent;
     -fx-border-width: 4;
     -fx-base-color: transparent;
     -fx-text-fill: white;
     -fx-border-radius: 5 0 0 5;
     -fx-background-radius: 5 0 0 5;
}
.toggle-button:selected {
     -fx-border-color: transparent;
     -fx-border-width: 4;
     -fx-base-color: white;
     -fx-text-fill: black;
     -fx-border-radius: 0 5 5 0;
     -fx-background-radius: 0 5 5 0;
}
.toggle-button#btnBusy:selected{
	-fx-base:#cc2a2a;
}
.toggle-button#btnAvalible:selected{
	-fx-base:#66cc66;
}