.toggle-button {
    -fx-focus-color: transparent;
    -fx-border-color: grey;
    -fx-border-height: 20.0px;
    -fx-min-height: 40.0px;
    -fx-min-width: 40.0px;
    -fx-border-radius: 100.0px;
    -fx-background-radius:100.0px;
}

.toggle-button:selected {
    -fx-text-fill: black;
    -fx-base: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
   
}
.toggle-button#btnBusy:selected{ 
      -fx-base:#ff3333;
}
.toggle-button#btnBusy{ 
    -fx-background: transparent;
}
.toggle-button#btnAvailable:selected{
    -fx-base:#66ff66;
}
.toggle-button#btnAvailable{
    -fx-base:transparent;
}




.hbox{ 
    -fx-background:transparent;
    -fx-background-radius:50.0px;
    -fx-border-width: 1.0px;
    -fx-border-color:grey;
    -fx-border-radius:50.0px;
    
    
}



























